/* workspace.css */
.container {
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.gridContainer {
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    gap: 1rem;
    height: calc(100vh - 120px);
    padding: 1rem;
}



