.layout-container {
    position: absolute;
    box-sizing: border-box;
    z-index: 1;
    background-color: rgba(255, 255, 255);
}

.interaction-layer {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: move;
    user-select: none;
    display: flex;
}

.interaction-layer.selected {
    outline: 2px solid #4d90fe;
    outline-offset: -1px;
}

.interaction-layer:hover:not(.selected) {
    outline: 1px dashed rgba(77, 144, 254, 0.5);
    outline-offset: -1px;

}

.interaction-layer > *:not(.resize-handle) {
    flex: 1;
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.interaction-layer.dragging {
    cursor: grabbing;
}

.interaction-layer.dragging * {
    pointer-events: none;
}

/* Needed in edit mode
.dropped-item * {
    pointer-events: none;
}
*/
